<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Цвета для визуализации в RVIZ -->
  <material name="blue">
    <color rgba="0.2 0.2 0.8 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.2 0.2 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.2 0.8 0.2 1.0"/>
  </material>

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="dark_gray">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

</robot>
